# Remove the line below if you want to inherit .editorconfig settings from higher directories
root = true

# C# files
[*.cs]

#### Core EditorConfig Options ####

# Indentation and spacing
indent_size = 4
indent_style = space
tab_width = 4

# New line preferences
end_of_line = lf
insert_final_newline = true

#### .NET Coding Conventions ####

# Organize usings
dotnet_separate_import_directive_groups = false
dotnet_sort_system_directives_first = false
file_header_template = unset

# this. and Me. preferences
dotnet_style_qualification_for_event = false:warning
dotnet_style_qualification_for_field = false:warning
dotnet_style_qualification_for_method = false:warning
dotnet_style_qualification_for_property = false:warning

# Language keywords vs BCL types preferences
dotnet_style_predefined_type_for_locals_parameters_members = true:silent
dotnet_style_predefined_type_for_member_access = true:silent
roslynator_empty_string_style = field
roslynator_enum_has_flag_style = method
roslynator_infinite_loop_style = while

# Parentheses preferences
dotnet_style_parentheses_in_arithmetic_binary_operators = never_if_unnecessary:warning
dotnet_style_parentheses_in_other_binary_operators = never_if_unnecessary:suggestion
dotnet_style_parentheses_in_other_operators = never_if_unnecessary:suggestion
dotnet_style_parentheses_in_relational_binary_operators = never_if_unnecessary:suggestion
roslynator_trailing_comma_style = include

# Modifier preferences
dotnet_style_require_accessibility_modifiers = for_non_interface_members:error

# Expression-level preferences
dotnet_style_coalesce_expression = true:warning
dotnet_style_prefer_collection_expression = when_types_exactly_match:suggestion
dotnet_style_collection_initializer = true:suggestion
dotnet_style_explicit_tuple_names = true:silent
dotnet_style_namespace_match_folder = true:suggestion
dotnet_style_null_propagation = true:warning
dotnet_style_object_initializer = true:silent
dotnet_style_operator_placement_when_wrapping = beginning_of_line
dotnet_style_prefer_auto_properties = true:warning
dotnet_style_prefer_compound_assignment = false:warning
dotnet_style_prefer_conditional_expression_over_assignment = true:warning
dotnet_style_prefer_conditional_expression_over_return = true:silent
dotnet_style_prefer_inferred_anonymous_type_member_names = false:warning
dotnet_style_prefer_inferred_tuple_names = true:silent
dotnet_style_prefer_is_null_check_over_reference_equality_method = true:warning
dotnet_style_prefer_simplified_boolean_expressions = true:suggestion
dotnet_style_prefer_simplified_interpolation = true:warning

# Field preferences
dotnet_style_readonly_field = true:warning

# Parameter preferences
dotnet_code_quality_unused_parameters = all:suggestion

# Suppression preferences
dotnet_remove_unnecessary_suppression_exclusions = none

# New line preferences
dotnet_style_allow_multiple_blank_lines_experimental = false:warning
dotnet_style_allow_statement_immediately_after_block_experimental = true:silent

#### C# Coding Conventions ####

# var preferences
csharp_style_var_elsewhere = true:suggestion
csharp_style_var_for_built_in_types = true:warning
csharp_style_var_when_type_is_apparent = true:warning
roslynator_use_var = always
roslynator_use_var_instead_of_implicit_object_creation = true

# Expression-bodied members
csharp_style_expression_bodied_accessors = when_on_single_line:silent
csharp_style_expression_bodied_constructors = false:silent
csharp_style_expression_bodied_indexers = when_on_single_line:silent
csharp_style_expression_bodied_lambdas = true:silent
csharp_style_expression_bodied_local_functions = when_on_single_line:silent
csharp_style_expression_bodied_methods = when_on_single_line:silent
csharp_style_expression_bodied_operators = when_on_single_line:silent
csharp_style_expression_bodied_properties = when_on_single_line:silent

# Pattern matching preferences
csharp_style_pattern_matching_over_as_with_null_check = true:warning
csharp_style_pattern_matching_over_is_with_cast_check = true:warning
csharp_style_prefer_not_pattern = true:suggestion
csharp_style_prefer_pattern_matching = true:suggestion
csharp_style_prefer_switch_expression = true:suggestion
roslynator_null_check_style = pattern_matching

# Null-checking preferences
csharp_style_conditional_delegate_call = true:warning

# Modifier preferences
csharp_prefer_static_local_function = true:silent
csharp_preferred_modifier_order = public,private,protected,internal,static,extern,new,virtual,abstract,sealed,override,readonly,unsafe,volatile,async
roslynator_accessibility_modifiers = explicit

# Code-block preferences
csharp_prefer_braces = true:warning
csharp_prefer_simple_using_statement = false:suggestion
roslynator_block_braces_style = multi_line

# Expression-level preferences
csharp_prefer_simple_default_expression = true:warning
csharp_style_deconstructed_variable_declaration = true:warning
csharp_style_implicit_object_creation_when_type_is_apparent = true:suggestion
csharp_style_inlined_variable_declaration = true:warning
csharp_style_pattern_local_over_anonymous_function = true
csharp_style_prefer_index_operator = true:suggestion
csharp_style_prefer_range_operator = true:suggestion
csharp_style_throw_expression = true:warning
csharp_style_unused_value_assignment_preference = discard_variable:warning
csharp_style_unused_value_expression_statement_preference = discard_variable:silent
roslynator_use_collection_expression = true
roslynator_array_creation_type_style = implicit_when_type_is_obvious
roslynator_object_creation_parentheses_style = omit
roslynator_conditional_operator_condition_parentheses_style = omit
roslynator_object_creation_type_style = implicit

# 'using' directive preferences
csharp_using_directive_placement = outside_namespace:warning

# New line preferences
csharp_style_allow_blank_line_after_colon_in_constructor_initializer_experimental = false:warning
csharp_style_allow_blank_lines_between_consecutive_braces_experimental = false:warning
csharp_style_allow_embedded_statements_on_same_line_experimental = false:warning
roslynator_blank_line_between_using_directives = never
roslynator_blank_line_between_single_line_accessors = false
roslynator_binary_operator_new_line = before
roslynator_conditional_operator_new_line = before
roslynator_arrow_token_new_line = after
roslynator_new_line_before_while_in_do_statement = true
roslynator_new_line_at_end_of_file = true
roslynator_null_conditional_operator_new_line = before
roslynator_blank_line_after_file_scoped_namespace_declaration = true
roslynator_blank_line_between_switch_sections = omit

# Namespace style preferences
csharp_style_namespace_declarations = file_scoped:warning

#### C# Formatting Rules ####

# New line preferences
csharp_new_line_before_catch = true
csharp_new_line_before_else = true
csharp_new_line_before_finally = true
csharp_new_line_before_members_in_anonymous_types = true
csharp_new_line_before_members_in_object_initializers = true
csharp_new_line_before_open_brace = all
csharp_new_line_between_query_expression_clauses = true

# Indentation preferences
csharp_indent_block_contents = true
csharp_indent_braces = false
csharp_indent_case_contents = true
csharp_indent_case_contents_when_block = true
csharp_indent_labels = one_less_than_current
csharp_indent_switch_labels = true

# Space preferences
csharp_space_after_cast = false
csharp_space_after_colon_in_inheritance_clause = true
csharp_space_after_comma = true
csharp_space_after_dot = false
csharp_space_after_keywords_in_control_flow_statements = true
csharp_space_after_semicolon_in_for_statement = true
csharp_space_around_binary_operators = before_and_after
csharp_space_around_declaration_statements = false
csharp_space_before_colon_in_inheritance_clause = true
csharp_space_before_comma = false
csharp_space_before_dot = false
csharp_space_before_open_square_brackets = false
csharp_space_before_semicolon_in_for_statement = false
csharp_space_between_empty_square_brackets = false
csharp_space_between_method_call_empty_parameter_list_parentheses = false
csharp_space_between_method_call_name_and_opening_parenthesis = false
csharp_space_between_method_call_parameter_list_parentheses = false
csharp_space_between_method_declaration_empty_parameter_list_parentheses = false
csharp_space_between_method_declaration_name_and_open_parenthesis = false
csharp_space_between_method_declaration_parameter_list_parentheses = false
csharp_space_between_parentheses = false
csharp_space_between_square_brackets = false

# Wrapping preferences
csharp_preserve_single_line_blocks = true
csharp_preserve_single_line_statements = true

#### Naming styles ####

# Naming rules

dotnet_naming_rule.interfaces_should_be_ipascalcase.severity = warning
dotnet_naming_rule.interfaces_should_be_ipascalcase.symbols = interfaces
dotnet_naming_rule.interfaces_should_be_ipascalcase.style = ipascalcase

dotnet_naming_rule.namespaces_should_be_pascalcase.severity = warning
dotnet_naming_rule.namespaces_should_be_pascalcase.symbols = namespaces
dotnet_naming_rule.namespaces_should_be_pascalcase.style = pascalcase

dotnet_naming_rule.types_should_be_pascalcase.severity = warning
dotnet_naming_rule.types_should_be_pascalcase.symbols = types
dotnet_naming_rule.types_should_be_pascalcase.style = pascalcase

dotnet_naming_rule.non_field_members_should_be_pascalcase.severity = warning
dotnet_naming_rule.non_field_members_should_be_pascalcase.symbols = non_field_members
dotnet_naming_rule.non_field_members_should_be_pascalcase.style = pascalcase

dotnet_naming_rule.constants_should_be_pascalcase.severity = warning
dotnet_naming_rule.constants_should_be_pascalcase.symbols = constants
dotnet_naming_rule.constants_should_be_pascalcase.style = pascalcase

dotnet_naming_rule.local_variables_and_parameters_should_be_camelcase.severity = warning
dotnet_naming_rule.local_variables_and_parameters_should_be_camelcase.symbols = local_variables_and_parameters
dotnet_naming_rule.local_variables_and_parameters_should_be_camelcase.style = camelcase

dotnet_naming_rule.fields_should_be__camelcase.severity = warning
dotnet_naming_rule.fields_should_be__camelcase.symbols = fields
dotnet_naming_rule.fields_should_be__camelcase.style = _camelcase

# Symbol specifications

dotnet_naming_symbols.interfaces.applicable_kinds = interface
dotnet_naming_symbols.interfaces.applicable_accessibilities = *
dotnet_naming_symbols.interfaces.required_modifiers = 

dotnet_naming_symbols.types.applicable_kinds = type_parameter, class, struct, interface, enum, delegate
dotnet_naming_symbols.types.applicable_accessibilities = *
dotnet_naming_symbols.types.required_modifiers = 

dotnet_naming_symbols.non_field_members.applicable_kinds = property, event, method
dotnet_naming_symbols.non_field_members.applicable_accessibilities = *
dotnet_naming_symbols.non_field_members.required_modifiers = 

dotnet_naming_symbols.constants.applicable_kinds = field
dotnet_naming_symbols.constants.applicable_accessibilities = *
dotnet_naming_symbols.constants.required_modifiers = const

dotnet_naming_symbols.namespaces.applicable_kinds = namespace
dotnet_naming_symbols.namespaces.applicable_accessibilities = *
dotnet_naming_symbols.namespaces.required_modifiers = 

dotnet_naming_symbols.local_variables_and_parameters.applicable_kinds = parameter, local
dotnet_naming_symbols.local_variables_and_parameters.applicable_accessibilities = *
dotnet_naming_symbols.local_variables_and_parameters.required_modifiers = 

dotnet_naming_symbols.fields.applicable_kinds = field
dotnet_naming_symbols.fields.applicable_accessibilities = internal, private, protected, protected_internal, private_protected
dotnet_naming_symbols.fields.required_modifiers = 

# Naming styles

dotnet_naming_style.pascalcase.required_prefix = 
dotnet_naming_style.pascalcase.required_suffix = 
dotnet_naming_style.pascalcase.word_separator = 
dotnet_naming_style.pascalcase.capitalization = pascal_case

dotnet_naming_style.ipascalcase.required_prefix = I
dotnet_naming_style.ipascalcase.required_suffix = 
dotnet_naming_style.ipascalcase.word_separator = 
dotnet_naming_style.ipascalcase.capitalization = pascal_case

dotnet_naming_style._camelcase.required_prefix = _
dotnet_naming_style._camelcase.required_suffix = 
dotnet_naming_style._camelcase.word_separator = 
dotnet_naming_style._camelcase.capitalization = camel_case

dotnet_naming_style.camelcase.required_prefix = 
dotnet_naming_style.camelcase.required_suffix = 
dotnet_naming_style.camelcase.word_separator = 
dotnet_naming_style.camelcase.capitalization = camel_case

# IDE0022: Use expression body for methods
dotnet_diagnostic.IDE0022.severity = none

# IDE0058: Expression value is never used
dotnet_diagnostic.IDE0058.severity = none

# Analyzer rules severity
dotnet_diagnostic.CA2016.severity = none
dotnet_diagnostic.CA1822.severity = none
dotnet_diagnostic.SA1407.severity=silent
dotnet_diagnostic.SA1408.severity=silent
dotnet_diagnostic.CA2000.severity = suggestion
dotnet_diagnostic.CA2202.severity = suggestion
dotnet_diagnostic.CA2213.severity = suggestion
dotnet_diagnostic.CA1859.severity = silent
dotnet_diagnostic.CA1860.severity = none

# C# style preferences
csharp_style_prefer_method_group_conversion = true:silent
csharp_style_prefer_top_level_statements = true:silent
csharp_style_prefer_primary_constructors = false:error
csharp_style_prefer_null_check_over_type_check = true:warning
csharp_style_prefer_local_over_anonymous_function = true:warning
csharp_style_prefer_utf8_string_literals = true:silent
csharp_style_prefer_tuple_swap = true:warning
csharp_style_prefer_readonly_struct = true:warning
csharp_style_prefer_readonly_struct_member = true:warning
csharp_style_allow_blank_line_after_token_in_conditional_expression_experimental = false:warning
csharp_style_allow_blank_line_after_token_in_arrow_expression_clause_experimental = true:warning
csharp_style_prefer_extended_property_pattern = true:suggestion
csharp_prefer_static_anonymous_function = true:silent
csharp_prefer_system_threading_lock = true:suggestion

dotnet_diagnostic.CA1862.severity = silent
dotnet_diagnostic.CA1515.severity = silent
dotnet_diagnostic.CA1820.severity = warning
dotnet_diagnostic.CA1805.severity = warning
dotnet_diagnostic.CA1812.severity = none
dotnet_diagnostic.CA1825.severity = warning
dotnet_diagnostic.CA1841.severity = warning
dotnet_diagnostic.CA1855.severity = warning
dotnet_diagnostic.CA1865.severity = warning
dotnet_diagnostic.CA1866.severity = warning
dotnet_diagnostic.CA2020.severity = none
dotnet_diagnostic.CA2244.severity = warning
dotnet_diagnostic.CA2246.severity = warning
dotnet_diagnostic.CA2263.severity = warning
dotnet_diagnostic.EF1001.severity = silent
dotnet_diagnostic.ASP0018.severity = warning
dotnet_diagnostic.ASP0025.severity = warning
dotnet_diagnostic.xUnit1033.severity = warning
dotnet_diagnostic.RCS0003.severity = warning
dotnet_diagnostic.RCS0006.severity = none
dotnet_diagnostic.RCS0005.severity = none
dotnet_diagnostic.RCS0002.severity = none
dotnet_diagnostic.RCS0001.severity = none
dotnet_diagnostic.RCS0007.severity = none
dotnet_diagnostic.RCS0008.severity = silent
dotnet_diagnostic.RCS0009.severity = warning
dotnet_diagnostic.RCS0010.severity = warning
dotnet_diagnostic.RCS0011.severity = warning
dotnet_diagnostic.RCS0012.severity = none
dotnet_diagnostic.RCS0013.severity = warning
dotnet_diagnostic.RCS0015.severity = none
dotnet_diagnostic.RCS0016.severity = warning
dotnet_diagnostic.RCS0020.severity = silent
dotnet_diagnostic.RCS0021.severity = warning
dotnet_diagnostic.RCS0024.severity = warning
dotnet_diagnostic.RCS0025.severity = warning
dotnet_diagnostic.RCS0027.severity = warning
dotnet_diagnostic.RCS0028.severity = warning
dotnet_diagnostic.RCS0029.severity = silent
dotnet_diagnostic.RCS0030.severity = warning
dotnet_diagnostic.RCS0031.severity = warning
dotnet_diagnostic.RCS0032.severity = warning
dotnet_diagnostic.RCS0033.severity = warning
dotnet_diagnostic.RCS0034.severity = silent
dotnet_diagnostic.RCS0036.severity = none
dotnet_diagnostic.RCS0039.severity = silent
dotnet_diagnostic.RCS0041.severity = warning
dotnet_diagnostic.RCS0042.severity = warning
dotnet_diagnostic.RCS0046.severity = warning
dotnet_diagnostic.RCS0049.severity = warning
dotnet_diagnostic.RCS0050.severity = warning
dotnet_diagnostic.RCS0051.severity = warning
dotnet_diagnostic.RCS0052.severity = none
dotnet_diagnostic.RCS0053.severity = silent
dotnet_diagnostic.RCS0054.severity = warning
dotnet_diagnostic.RCS0055.severity = warning
dotnet_diagnostic.RCS0056.severity = silent
dotnet_diagnostic.RCS0057.severity = warning
dotnet_diagnostic.RCS0058.severity = warning
dotnet_diagnostic.RCS0059.severity = warning
dotnet_diagnostic.RCS0060.severity = warning
dotnet_diagnostic.RCS0061.severity = warning
dotnet_diagnostic.RCS0062.severity = silent
dotnet_diagnostic.RCS0063.severity = warning
dotnet_diagnostic.RCS1001.severity = warning
dotnet_diagnostic.RCS1002.severity = none
dotnet_diagnostic.RCS1003.severity = warning
dotnet_diagnostic.RCS1004.severity = none
dotnet_diagnostic.RCS1005.severity = warning
dotnet_diagnostic.RCS1006.severity = warning
dotnet_diagnostic.RCS1007.severity = warning
dotnet_diagnostic.RCS1013.severity = warning
dotnet_diagnostic.RCS1014.severity = none
dotnet_diagnostic.RCS1015.severity = warning
dotnet_diagnostic.RCS1018.severity = warning
dotnet_diagnostic.RCS1019.severity = none
dotnet_diagnostic.RCS1020.severity = warning
dotnet_diagnostic.RCS1021.severity = silent
dotnet_diagnostic.RCS1031.severity = warning
dotnet_diagnostic.RCS1032.severity = warning
dotnet_diagnostic.RCS1033.severity = warning
dotnet_diagnostic.RCS1034.severity = warning
dotnet_diagnostic.RCS1039.severity = warning
dotnet_diagnostic.RCS1042.severity = warning
dotnet_diagnostic.RCS1043.severity = warning
dotnet_diagnostic.RCS1046.severity = none
dotnet_diagnostic.RCS1047.severity = none
dotnet_diagnostic.RCS1048.severity = warning
dotnet_diagnostic.RCS1049.severity = warning
dotnet_diagnostic.RCS1050.severity = warning
dotnet_diagnostic.RCS1051.severity = warning
dotnet_diagnostic.RCS1052.severity = none
dotnet_diagnostic.RCS1055.severity = warning
dotnet_diagnostic.RCS1056.severity = none
dotnet_diagnostic.RCS1058.severity = warning
dotnet_diagnostic.RCS1060.severity = silent
dotnet_diagnostic.RCS1068.severity = warning
dotnet_diagnostic.RCS1069.severity = warning
dotnet_diagnostic.RCS1070.severity = warning
dotnet_diagnostic.RCS1071.severity = warning
dotnet_diagnostic.RCS1073.severity = warning
dotnet_diagnostic.RCS1074.severity = warning
dotnet_diagnostic.RCS1075.severity = silent
dotnet_diagnostic.RCS1077.severity = silent
dotnet_diagnostic.RCS1078.severity = warning
dotnet_diagnostic.RCS1080.severity = none
dotnet_diagnostic.RCS1081.severity = warning
dotnet_diagnostic.RCS1084.severity = warning
dotnet_diagnostic.RCS1085.severity = warning
dotnet_diagnostic.RCS1089.severity = none
dotnet_diagnostic.RCS1090.severity = silent
dotnet_diagnostic.RCS1093.severity = warning
dotnet_diagnostic.RCS1094.severity = warning
dotnet_diagnostic.RCS1096.severity = warning
dotnet_diagnostic.RCS1097.severity = warning
dotnet_diagnostic.RCS1098.severity = warning
dotnet_diagnostic.RCS1099.severity = warning
dotnet_diagnostic.RCS1103.severity = warning
dotnet_diagnostic.RCS1104.severity = warning
dotnet_diagnostic.RCS1105.severity = warning
dotnet_diagnostic.RCS1107.severity = warning
dotnet_diagnostic.RCS1108.severity = warning
dotnet_diagnostic.RCS1110.severity = warning
dotnet_diagnostic.RCS1111.severity = none
dotnet_diagnostic.RCS1112.severity = silent
dotnet_diagnostic.RCS1113.severity = warning
dotnet_diagnostic.RCS1114.severity = warning
dotnet_diagnostic.RCS1118.severity = silent
dotnet_diagnostic.RCS1123.severity = silent
dotnet_diagnostic.RCS1126.severity = warning
dotnet_diagnostic.RCS1128.severity = warning
dotnet_diagnostic.RCS1130.severity = error
dotnet_diagnostic.RCS1132.severity = warning
dotnet_diagnostic.RCS1133.severity = warning
dotnet_diagnostic.RCS1134.severity = warning
dotnet_diagnostic.RCS1135.severity = warning
dotnet_diagnostic.RCS1136.severity = warning
dotnet_diagnostic.RCS1141.severity = warning
dotnet_diagnostic.RCS1142.severity = warning
dotnet_diagnostic.RCS1143.severity = warning
dotnet_diagnostic.RCS1145.severity = warning
dotnet_diagnostic.RCS1146.severity = warning
dotnet_diagnostic.RCS1151.severity = warning
dotnet_diagnostic.RCS1154.severity = warning
dotnet_diagnostic.RCS1155.severity = silent
dotnet_diagnostic.RCS1156.severity = warning
dotnet_diagnostic.RCS1157.severity = warning
dotnet_diagnostic.RCS1158.severity = none
dotnet_diagnostic.RCS1159.severity = warning
dotnet_diagnostic.RCS1160.severity = error
dotnet_diagnostic.RCS1162.severity = warning
dotnet_diagnostic.RCS1163.severity = silent
dotnet_diagnostic.RCS1164.severity = silent
dotnet_diagnostic.RCS1166.severity = warning
dotnet_diagnostic.RCS1168.severity = warning
dotnet_diagnostic.RCS1169.severity = warning
dotnet_diagnostic.RCS1170.severity = warning
dotnet_diagnostic.RCS1171.severity = warning
dotnet_diagnostic.RCS1173.severity = warning
dotnet_diagnostic.RCS1174.severity = silent
dotnet_diagnostic.RCS1175.severity = warning
dotnet_diagnostic.RCS1179.severity = warning
dotnet_diagnostic.RCS1180.severity = silent
dotnet_diagnostic.RCS1186.severity = warning
dotnet_diagnostic.RCS1187.severity = warning
dotnet_diagnostic.RCS1188.severity = silent
dotnet_diagnostic.RCS1189.severity = warning
dotnet_diagnostic.RCS1190.severity = warning
dotnet_diagnostic.RCS1191.severity = warning
dotnet_diagnostic.RCS1192.severity = warning
dotnet_diagnostic.RCS1194.severity = silent
dotnet_diagnostic.RCS1195.severity = warning
dotnet_diagnostic.RCS1196.severity = warning
dotnet_diagnostic.RCS1197.severity = warning
dotnet_diagnostic.RCS1199.severity = warning
dotnet_diagnostic.RCS1200.severity = warning
dotnet_diagnostic.RCS1201.severity = suggestion
dotnet_diagnostic.RCS1202.severity = warning
dotnet_diagnostic.RCS1204.severity = warning
dotnet_diagnostic.RCS1205.severity = warning
dotnet_diagnostic.RCS1206.severity = warning
dotnet_diagnostic.RCS1208.severity = warning
dotnet_diagnostic.RCS1209.severity = warning
dotnet_diagnostic.RCS1211.severity = warning
dotnet_diagnostic.RCS1212.severity = warning
dotnet_diagnostic.RCS1213.severity = warning
dotnet_diagnostic.RCS1214.severity = warning
dotnet_diagnostic.RCS1216.severity = warning
dotnet_diagnostic.RCS1217.severity = none
dotnet_diagnostic.RCS1218.severity = warning
dotnet_diagnostic.RCS1220.severity = warning
dotnet_diagnostic.RCS1221.severity = warning
dotnet_diagnostic.RCS1222.severity = warning
dotnet_diagnostic.RCS1223.severity = silent
dotnet_diagnostic.RCS1224.severity = warning
dotnet_diagnostic.RCS1225.severity = warning
dotnet_diagnostic.RCS1226.severity = silent
dotnet_diagnostic.RCS1228.severity = warning
dotnet_diagnostic.RCS1227.severity = warning
dotnet_diagnostic.RCS1229.severity = warning
dotnet_diagnostic.RCS1230.severity = warning
dotnet_diagnostic.RCS1231.severity = silent
dotnet_diagnostic.RCS1232.severity = warning
dotnet_diagnostic.RCS1233.severity = warning
dotnet_diagnostic.RCS1234.severity = warning
dotnet_diagnostic.RCS1235.severity = warning
dotnet_diagnostic.RCS1236.severity = warning
dotnet_diagnostic.RCS1239.severity = warning
dotnet_diagnostic.RCS1240.severity = warning
dotnet_diagnostic.RCS1241.severity = none
dotnet_diagnostic.RCS1243.severity = suggestion
dotnet_diagnostic.RCS1244.severity = warning
dotnet_diagnostic.RCS1246.severity = warning
dotnet_diagnostic.RCS1247.severity = warning
dotnet_diagnostic.RCS1248.severity = suggestion
dotnet_diagnostic.RCS1249.severity = warning
dotnet_diagnostic.RCS1250.severity = warning
dotnet_diagnostic.RCS1251.severity = warning
dotnet_diagnostic.RCS1252.severity = warning
dotnet_diagnostic.RCS1255.severity = warning
dotnet_diagnostic.RCS1256.severity = none
dotnet_diagnostic.RCS1257.severity = warning
dotnet_diagnostic.RCS1258.severity = warning
dotnet_diagnostic.RCS1259.severity = warning
dotnet_diagnostic.RCS1260.severity = warning
dotnet_diagnostic.RCS1261.severity = warning
dotnet_diagnostic.RCS1262.severity = warning
dotnet_diagnostic.RCS1265.severity = warning
dotnet_diagnostic.RCS1264.severity = warning
dotnet_diagnostic.RCS1266.severity = warning
dotnet_diagnostic.RCS1267.severity = warning
dotnet_diagnostic.RCS1268.severity = warning
dotnet_diagnostic.RCS9001.severity = warning
dotnet_diagnostic.RCS9002.severity = warning
dotnet_diagnostic.RCS9003.severity = warning
dotnet_diagnostic.RCS9004.severity = silent
dotnet_diagnostic.RCS9005.severity = warning
dotnet_diagnostic.RCS9006.severity = warning
dotnet_diagnostic.RCS9007.severity = silent
dotnet_diagnostic.RCS9008.severity = silent
dotnet_diagnostic.RCS9010.severity = warning
dotnet_diagnostic.RCS9011.severity = warning

[*.{cs,vb}]
dotnet_style_operator_placement_when_wrapping = beginning_of_line
tab_width = 4
indent_size = 4
end_of_line = lf

dotnet_diagnostic.xUnit1042.severity = silent
dotnet_diagnostic.CA2000.severity = suggestion
dotnet_diagnostic.CA1816.severity = suggestion
dotnet_diagnostic.CA2213.severity = suggestion
dotnet_diagnostic.CA1513.severity = suggestion

# xUnit1045: Avoid using TheoryData type arguments that might not be serializable
dotnet_diagnostic.xUnit1044.severity = silent
dotnet_diagnostic.xUnit1045.severity = silent
dotnet_diagnostic.CA1010.severity = warning
dotnet_diagnostic.CA1068.severity = warning
dotnet_diagnostic.CA1069.severity = warning
dotnet_diagnostic.CA1061.severity = error
dotnet_diagnostic.CA1051.severity = warning
dotnet_diagnostic.CA1050.severity = warning
dotnet_diagnostic.CA1501.severity = none
dotnet_diagnostic.CA1510.severity = none
dotnet_diagnostic.CA1514.severity = warning
dotnet_diagnostic.CA1708.severity = warning
dotnet_diagnostic.CA1707.severity = suggestion
dotnet_diagnostic.CA1712.severity = warning
dotnet_diagnostic.CA1700.severity = silent
dotnet_diagnostic.CA1711.severity = silent
dotnet_diagnostic.CA1710.severity = suggestion
dotnet_diagnostic.CA1715.severity = none
dotnet_diagnostic.CA1716.severity = none
dotnet_diagnostic.CA1720.severity = warning
dotnet_diagnostic.CA1721.severity = suggestion
dotnet_diagnostic.CA1725.severity = warning
dotnet_diagnostic.CA1727.severity = warning
dotnet_diagnostic.CA1806.severity = none
dotnet_diagnostic.CA1810.severity = silent
dotnet_diagnostic.CA1813.severity = silent
dotnet_diagnostic.CA1814.severity = suggestion
dotnet_diagnostic.CA1821.severity = warning
dotnet_diagnostic.CA1826.severity = silent
dotnet_diagnostic.CA1827.severity = warning
dotnet_diagnostic.CA1828.severity = warning
dotnet_diagnostic.CA1829.severity = warning
dotnet_diagnostic.CA1831.severity = suggestion
dotnet_diagnostic.CA1835.severity = warning
dotnet_diagnostic.CA1836.severity = warning
dotnet_diagnostic.CA1842.severity = warning
dotnet_diagnostic.CA1843.severity = warning
dotnet_diagnostic.CA1847.severity = warning
dotnet_diagnostic.CA1850.severity = warning
dotnet_diagnostic.CA1853.severity = warning
dotnet_diagnostic.CA1854.severity = silent
dotnet_diagnostic.CA1858.severity = warning
dotnet_diagnostic.CA1859.severity = none
dotnet_diagnostic.CA1864.severity = none
dotnet_diagnostic.CA1868.severity = warning
dotnet_diagnostic.CA2009.severity = warning
dotnet_diagnostic.CA2011.severity = warning
dotnet_diagnostic.CA2012.severity = warning
dotnet_diagnostic.CA5351.severity = suggestion
dotnet_diagnostic.CA5350.severity = suggestion
dotnet_diagnostic.CA2201.severity = warning
dotnet_diagnostic.CA2208.severity = warning
dotnet_diagnostic.CA2211.severity = warning
dotnet_diagnostic.CA2214.severity = silent
dotnet_diagnostic.CA2215.severity = warning
dotnet_diagnostic.CA2216.severity = silent
dotnet_diagnostic.CA2219.severity = warning
dotnet_diagnostic.CA2231.severity = warning
dotnet_diagnostic.CA2241.severity = warning
dotnet_diagnostic.CA2242.severity = warning
dotnet_diagnostic.CA2245.severity = warning
dotnet_diagnostic.CA2248.severity = warning
dotnet_diagnostic.CA2249.severity = warning
dotnet_diagnostic.CA2250.severity = warning
dotnet_diagnostic.CA2251.severity = warning
dotnet_diagnostic.CA2253.severity = warning
dotnet_diagnostic.CA2254.severity = warning
dotnet_diagnostic.CA2262.severity = warning
dotnet_diagnostic.RCS0044.severity = none
dotnet_diagnostic.RCS0045.severity = none
dotnet_diagnostic.RCS1037.severity = warning
